
@font-face {
  font-display: swap;
  font-family: "Alfa Slab One";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Alfa Slab One/alfa-slab-one-v19-latin-regular.woff2")
    format("woff2");
}


@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Roboto/roboto-v47-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/Roboto/roboto-v47-latin-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Roboto/roboto-v47-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/Roboto/roboto-v47-latin-700italic.woff2") format("woff2");
}